* {
  margin: auto;
  padding: 0;
}
.sup{
  border-radius:20px;
  margin-left:3px;
  padding:2px;
  font-size:12px;
  background:purple;
  color:white;
}
.hero-wrap {
  background-image: url('./components/images/bg_2.jpg');
}
.hero-wrap .overlay{
  background-color: white !important;
}
.header{
  margin-top: 100px;
  height: 500px;
  background-color: white !important;
}
.nav-link{
  color: purple ;

}
 input[type=email]{
  border:2px solid purple;
  color:purple;
  border-radius: 25px;
}
.grey{
  color:#333 !important;
}
.color_purple{
  color:purple;
}
.text-purple{
  color:#800080;

}
.color_purple li a{
  color:purple;
}
.footer{
  background:#fff6ff;
  color:purple;
}
.social li{
  display: inline;
  margin-left: 5px;
  font-size:20px;
}
.contact h1{
  text-align: center;
}
.team{
  color:purple;
  text-align: center;
}
.team img{
  height: 400px;
}
.team a,p{
  color:#333;
}
.service{
  background-color:#2e318e;
}
.serviceHeader{
  clear: both;
  width: 100%;
  float: left;
  color: white;
  font-size: 50px;
  line-height: 40px;
  margin-bottom: 50px;
}
.service h3{
  color:white;
  float: left;
}
.service p{
  clear: both;
  color:white;
  float: right;
  text-align: justify;
  font-size: 12px;
  margin-left: 27px;
}
.service i{
  float: left;
  margin-right: 12px;
}